<div class="container-fluid">
  <div class="row-fluid">
	<div class="span8">
      <h1><%= @post.title %></h1>
  	  <p class="pagination-centered">
  	  	<%= image_tag @picture %>
  	  </p>
  	  <p>
  	  	<%= link_to "See Another >>", :controller => "posts", :action => "show", :id => Post.first(:order => "RANDOM()") %>
  	  </p>
	</div>
	<div class="span4">
      <p>
      <%= image_tag 'http://upload.wikimedia.org/wikipedia/en/f/f3/True_dating_service_ad.jpg' %>
  	  </p>
      <p>More funnies:</p>
      <ul>
    	<% @sidebar_posts.each do |post| %>
	      <li>
         <%= image_tag post.picture_from_url(post.image_url), :size => '100x100' %>
		  	 <%= link_to post.title, :controller => "posts", :action => "show", :id => post.id %>
    	<% end %>
  	  </ul>
    </div>
  </div>
</div>